body {
  margin: 0;
  padding: 0;
}

.App {
  width: auto;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: lightblue;
  
}

.nav {
  border: solid 3px rgb(198, 46, 46);
  height: 10vh ;
  width: 100vw;
  /* margin-top: -32%; */
  padding-top: 3%;
  display: flex;
  justify-content: space-evenly;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJlt_kyGdtKC8sfpwULJjLxX_AwHb2i6AoBQ&usqp=CAU"); 
  background-repeat: no-repeat; 
  background-size: cover;

}


.homePage{
  border: solid 3px orange;
  height: 70vh;
  width: 100vw; 
}

.appImages {
  border: solid 3px rgb(213, 64, 126);
  height: 42vh;
  width: 100vw;
  display: flex;
  background-repeat:no-repeat; 
  background-size:cover;
}

.portfolio {
  border: solid 4px rgb(7, 87, 7);
  height:70vh;
  width:100vw;  
}

 .carousel-item, .carousel-inner, .icons {
  border: solid 5px magenta;
  /* background-color: bisque; */
  height: 30vh;
  width:20vw; 
margin-left: 40%;
margin-bottom: 40%;
}

.InConstruction{
  border: solid 4px rgb(41, 10, 200);
  height: 70vh;
  width: 100vw; 
}

.footer {
  border: solid 3px rgb(201, 225, 43);
  background-image: url('https://www.citypng.com/public/uploads/preview/stars-galaxy-planet-illustration-transparent-png-31629667891pwgssraa4l.png');
  /* height: 10vh ; */
  width: 100vw;
  /* margin-top: 30%; */
   padding: 3%;
   display: flex; 
  justify-content:space-around;
  align-content: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.arrow {
  border: solid 2px yellow;
  height: 3vh;
  width: 8%;
  font-size: 20px;
}

/* .contactLinks {
  display: flex;
  flex-wrap:wrap ;
  flex-direction: row ;
} */









/* **************************************** */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
